/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.sender {
  font-weight : bold;
}

body, html {
  overflow: hidden;
}

.body {
  margin-left: 20px;

}

.mat-list {
  flex-grow: 1;
  overflow: auto;
}

.messages-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
.messages {
  flex-grow: 1;

}

.message-form {
  height: 100px;
  flex-grow: 0;
  display: flex;
  align-items: center;
}

.message-form button {
  margin-left: 100px;
}
