/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.sender {
  font-weight : bold;
}
.body {
  margin-left: 20px;
}


.messages-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}
.messages {
  flex-grow: 1;
}

.messages-form {
  height: 100px;
  flex-grow: 0;
}
